*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff9a00;
}

.calculator{
    background-color: #4d4d4d;
    width: 260px;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    margin: 100px auto;
    border-radius: 5px;
    box-shadow: 6px 6px 10px;
}

h1{
    color: 	#ff9a00;
    padding-bottom: 10px;
    font-weight: 600;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}

#display{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    margin-bottom: 10px;
    font-size: 20px;
    box-shadow: 3px 3px 6px;
}

.btn{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    margin: 5px;
    font-size: 20px;
    box-shadow: 3px 3px 2px;
}

#clear{
    color: white;
    background-color: #ff9a00;
    box-shadow: none;
    box-shadow: 3px 3px 2px black;
}

.heading{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
}